* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: hsl(234, 14%, 74%);
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80vw;
  min-height: 90vh;
  margin: 20px auto;
  box-shadow: 10px 10px 10px hsl(233, 13%, 49%);
  background-color: hsl(240, 78%, 98%);
  background-image: url("./bg-top.svg"), url("./bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  border-radius: 5px;
}
.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}
.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.first-head {
  font-size: 35px;
  color: hsl(232, 13%, 33%);
  margin-top: 10px;
}
.first-div {
  font-weight: 700;
  font-size: small;
  color: hsl(232, 13%, 53%);
  min-width: 18vw;
  min-height: 50vh;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 0px 0px 5px;
  text-align: center;
  box-shadow: 5px 5px 15px hsl(236, 72%, 79%);
  padding: 20px;
}
.second-div {
  font-weight: 700;
  font-size: small;
  min-width: 18vw;
  min-height: 55vh;
  background-color: hsl(236, 72%, 79%);
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 0px 15px hsl(236, 72%, 79%);
  padding: 32px 20px 20px 20px;
  color: white;
}
.third-div {
  font-weight: 700;
  font-size: small;
  min-width: 18vw;
  min-height: 50vh;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 5px 5px 15px hsl(236, 72%, 79%);
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: hsl(232, 13%, 53%);
}
hr {
  margin: 0px auto;
  width: 80%;
  opacity: 0.4;
}
h3 {
  margin-bottom: 10px;
  color: hsl(232, 16%, 46%);
}
h2 {
  color: hsl(232, 13%, 33%);
  font-size: 40px;
  margin-bottom: 10px;
}
p {
  margin: 10px 0px 10px 0px;
}
button {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  width: 98%;

  margin-top: 20px;
  padding: 10px;
  background-color: hsl(236, 72%, 79%);
  color: hsl(0, 0%, 100%);
}
.second-button {
  background-color: white;
  color: hsl(236, 72%, 79%);
}
.price2,
.div-head2 {
  color: white;
}

div > div > input {
  display: none;
}
div > div > label {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  background-color: hsl(236, 72%, 79%);
  border-radius: 20px;
  cursor: pointer;
}

div > div > label::before {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
div > div > input:checked + label::before {
  left: 45px;
}
@media (max-width: 600px) {
  .main-div {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
  }
  .card-section {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    position: static;
    top: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .first-div,
  .second-div,
  .third-div {
    position: relative;
    margin-bottom: 20px;
    min-width: 40vw;
    min-height: 40vh;
    border-radius: 5px;
    align-self: center;
  }
  .yearly {
    position: absolute;
    margin: 20% 0 0 8%;
  }
}
